<div *ngIf="tree">
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card>
            <p>Tree #{{tree.id}} ({{tree.type}}):</p>
            <ul>
                <li>Height: {{tree.heightMeters}}</li>
                <li>Price: {{tree.price}}€</li>
            </ul>
            <mat-card-header>
                <mat-card-title>Complete your order</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="First name" formControlName="firstName">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="Last name" formControlName="lastName">
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <textarea matInput placeholder="Address" formControlName="address"></textarea>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field>
                        <input matInput placeholder="zipCode" formControlName="zipCode">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="City" formControlName="city">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput placeholder="State" formControlName="state">
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Submit</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
<div *ngIf="!tree">
    <p>
        Please choose a tree first in order to finish your order!
    </p>
</div>